#aboutCardbgD{
    background-color: #424242;
    color: white;
    border-radius: 5px;
}

#aboutIconD{
    font-size: 24px ;
    color: lightskyblue;
}

#gitD{
    font-size: 24px ;
    color: white
}

#sourcecodelinkD{
    color: white;
}

#sourcecodelinkD:hover{
    color: lightskyblue;
}