@media (min-width:1000px) {
    .fullbgab{
        background-image: url("../img/bgLightIn.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100vh;
        position: relative;
        background-color: #FFFFFF;
    }
}

@media (min-width:551px) and (max-width:1000px) {
    .fullbgab{
        background-image: url("../img/bgLightInMid.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100vh;
        position: relative;
        background-color: #FFFFFF;
    }
}

@media (max-width:551px) {
    .fullbgab{
        background-image: url("../img/bgLightInHp.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100vh;
        position: relative;
        background-color: #FFFFFF;
    }
}
