.feedbackHead{
    font-size: 16px;
}

.feedbackExp{
    font-size: 14px;
}

#test{
    justify-content: right !important;
}

.inputBox{
    box-shadow: none !important;
}

.inputBox:focus{
    border-color: #5680e9 !important;
}

.inputBoxErr{
    box-shadow: none !important;
    border-color: red !important;
}

.inputBoxErr:focus{
    border-color: red !important;
}

#feedbackBtn:focus{
    box-shadow: none !important;
}

@media (min-width:1000px) {
    .fullbg{
        background-image: url("../img/bgLightIn.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100%;
        position: relative;
        background-color: #FFFFFF;
    }
}

@media (min-width:551px) and (max-width:1000px) {
    .fullbg{
        background-image: url("../img/bgLightInMid.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100%;
        position: relative;
        background-color: #FFFFFF;
    }
}

@media (max-width:551px) {
    .fullbg{
        background-image: url("../img/bgLightInHp.png");
        background-size: cover;
        background-position: top;
        min-height: 100%;
        height: 100%;
        position: relative;
        background-color: #FFFFFF;
    }
}
