html{
    background-color: #fafafb;
}
@media (min-width:551px) {
    .leftmargin{
        margin-left: 240px;
    }
}

.bgCom{
    padding: 5px 10px;
    background-color: #fafafb;
}

.bg{
    padding: 15px 10px;
    background-color: #fafafb;
}

.shadowProperty{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 100%;
}

.btnradius{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.BusNo{
    font-size: 40px;
}

.BusTime{
    font-size: 18px;
}

.BusTime2{
    font-size: 14px;
    padding-left: 10px;
}

.rightDivider{
    border-right: 1px solid grey;
    padding-right: 5px;
}

div.card-body{
    padding: 8px;
}

.topMargin{
    padding-top: 10px;
}

#searchBtn:focus{
    box-shadow: none !important;
}

.borderLeft{
    padding-left: 5px;
}

.navRadius{
    border-radius: 5px;
    background-color: #8860d0;
}

.bgbtn{
    background-color: #5680e9 !important;
    border-color: #5680e9 !important;
}

.bgbtn:hover{
    background-color: #5ab9ea !important;
    border-color: #5ab9ea !important;
}

.headerbus{
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.leftLabel{
    font-family: sans-serif;
    font-size: 18px;
}

.line{
    border-bottom: 1px solid grey;
}

#refreshIcon{
    color: black;
    margin-bottom: 4px;
}

#bookmarkIcon{
    color: black;
    margin-bottom: 4px;
    margin-right: 2px;
}

#helpIcon{
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
}

.cardR{
    border-radius: 0px;
    border-top-color: white;
    border-left-color: white;
}

.empty{
    color: #5cb85c
}

.standing{
    color:#f0ad4e
}

.full{
    color: #d9534f;
}

#nocardborder{
    border-color: white;
}

.tabbg{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    /* padding-right: 62px;
    padding-left: 30px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 30px;
}

.colorModal{
    color: black;
}