.fullbgHome{
    background-color: #F0F8FF;
    height: 100vh;
}

@media (min-width:901px) {
    .leftmargin{
        margin-left: 240px;
    }
}

.bgCom{
    padding: 5px 10px;
    /* background-color: #fafafb; */
}

.bg{
    padding: 15px 10px;
    /* background-color: #fafafb; */
}

.shadowProperty{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    height: 100%;
}

.btnradius{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.BusNo{
    font-size: 40px;
}

.BusTime{
    font-size: 18px;
}

.BusTime2{
    font-size: 14px;
    padding-left: 10px;
}

.WheelChair{
    color: black;
    font-size: 18px !important;
    margin-left: 2px;
}

.WheelChair2{
    color: black;
    font-size: 14px !important;
    margin-left: 2px;
}

.rightDivider{
    border-right: 1px solid grey;
    padding-right: 5px;
}

div.card-body{
    padding: 8px;
}

.topMargin{
    padding-top: 10px;
}

#searchBtn:focus{
    box-shadow: none !important;
}

.borderLeft{
    padding-left: 5px;
}

.bgbtn{
    background-color: #5680e9 !important;
    border-color: #5680e9 !important;
}

.bgbtn:hover{
    background-color: #5ab9ea !important;
    border-color: #5ab9ea !important;
}

.leftLabel{
    font-family: sans-serif;
    font-size: 18px;
}

.line{
    border-bottom: 1px solid grey;
}

#refreshIcon{
    color: black;
    margin-bottom: 4px;
}

#bookmarkIcon{
    color: black;
    margin-bottom: 4px;
    margin-right: 2px;
}

#mapIcon{
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
    margin-right: 3px;
}

#helpIcon{
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
}

#helpBokmark{
    color: black;
    margin-top: -3px;
}

#helpSearch{
    color: black;
    margin-top: 10px;
}

.cardR{
    border-radius: 0px;
    border-top-color: white;
    border-left-color: white;
}

.empty{
    color: #5cb85c
}

.standing{
    color:#f0ad4e
}

.full{
    color: #d9534f;
}

#nocardborder{
    border-color: white;
}

.tabbg{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 30px;
}

.colorModal{
    color: black;
}

.infoNote{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ulpadmag{
    padding-left: 10px;
    margin: 0;
}

.botLine{
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-light .navbar-brand {
    white-space: normal !important;
}

.cardHover:hover{
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2) !important;
}

.cardHover{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.borderBodycard{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.arrowIcon{
    color: black;
}

#arrivalInfoModal{
    color: black;
}

.cardHeaderBusStop{
    background-color: #C1C8E4 !important;
}

#editIcon{
    color: grey;
    padding-left: 5px;
    padding-bottom: 5px;
}

.bookmarkName{
    padding: 0px 12px;
    display: flex;
    font-size: 20px;
}

#starIcon{
    color: black;
}

#refreshNearby{
    color: black;
}