#accordianBtn1:active{
    background-color: #5ab9ea;
    color: white;
}

#accordianBtn1:focus{
    box-shadow: none;
    background-color: #5ab9ea;
    color: white;
}

#accordianBtn1:not(.collapsed){
    background-color: #5ab9ea;
    color: white;
}

#accordianBtn2:active{
    background-color: #5ab9ea;
    color: white;
}

#accordianBtn2:focus{
    box-shadow: none;
    background-color: #5ab9ea;
    color: white;
}

#accordianBtn2:not(.collapsed){
    background-color: #5ab9ea;
    color: white;
}

.bgbtn:focus{
    box-shadow: none !important;
}